<div class="flex items-center justify-center min-h-screen">
    <div class="p-8 max-w-4xl mx-auto rounded-lg shadow-lg bg-slate-500">
      <main class="flex flex-col md:flex-row gap-8">
        <div class="flex-1 space-y-6">
          <div>
            <label for="billAmount" class="block text-gray-800 font-medium mb-2">Amount:</label>
            <div class="flex items-center">
              <input type="number" id="billAmount" [(ngModel)]="billAmount"
                class="w-full p-3 border rounded-md" placeholder="Enter amount" />
            </div>
          </div> 
          <div>
            <label for="tipPercentage" class="block text-gray-800 font-medium mb-2">Select Tip</label>
            <div class="tip-options grid grid-cols-3 gap-2">
              @for (tip of tips; track tip) {
              <button (click)="selectTip(tip)" class="bg-gray text-black px-4 py-2 rounded-md">
                {{ tip }}%</button> }
              <input type="number" id="customTip" [(ngModel)]="customTipPercentage"
                class="p-3 border rounded-md w-full" placeholder="Custom" />
            </div>
          </div>
          <div>
            <label for="numberOfPeople" class="block text-gray-800 font-medium mb-2">Number of People:</label>
            <input type="number" id="numberOfPeople" min="1" [(ngModel)]="numberOfPeople"
              class="w-full p-3 border rounded-md"
              placeholder="Enter number of people" />
          </div>
        </div>
        <div class="flex-1 flex flex-col bg-slate-300">
          <div class="p-12 text-center space-y-8">
            <div class="space-y-2 flex">
              <div class="flex-1 text-left">
                <p class="text-lg font-semibold text-black">Tip Amount</p>
                <p class="text-sm text-black">/person</p>
              </div>
              <div class="flex justify-center items-center">
                <span class="block text-black font-bold text-3xl">${{ tipAmountPerPerson.toFixed(2) }}</span>
              </div>
            </div>
            <div class="space-y-2 flex">
              <div class="flex-1 text-left">
                <p class="text-lg font-semibold text-black">Total</p>
                <p class="text-sm text-black">/person</p>
              </div>
              <div class="flex justify-center items-center">
                <span class="block text-black font-bold text-3xl">${{ totalAmountPerPerson.toFixed(2) }}</span>
              </div>
            </div>
          </div>
          <div class="mt-auto p-4">
            <button class="w-full bg-slate-500 text-black px-6 py-3 rounded-md" (click)="reset()">
              Reset
            </button>
          </div>
        </div>
      </main>
    </div>
  </div>